
## Introduction to group coding exercises

You will form groups of four and work on this exercise together, submitting a single code at the end of the class period. You will work together on exercises in the same groups each Thursday this quarter. Introduce yourselves and and decide among yourselves which roles you would like to undertake. Note that you cannot have the same role two weeks in a row, and you must fill each role at least once during the quarter.

Roles and Responsibilities:

1) Developer: Person who types the code and submits it to Canvas at the end of the class period.

2) Reporter: Responsible for communicating with instructors, writing exercise reflection, and keeping any written notes.

3) Researcher: Search slides, notes, and internet for solutions to coding problems.

4) Documenter: Make sure code is adequately commented. Make sure any code solutions used from an online source like Stack Overflow are clearly noted and cited to avoid plagiarism.

As a reminder, we will be grading based best practices in coding. These include: 
1) Variables are used to store objects

2) Code is commented adequately

3) Variables are names appropriately

4) Code is efficient with minimal useless lines

The rubric is attached below: 
![rubric](rubric.png)

Note here **and in the Gradescope submission** which who filled which roles:

Developer: Ava

Reporter: Julia

Researcher: Claire

Documenter: Jessica

# Question 1: Math, Variables, and Debugging (5 points)
Below is a chunk of code with several errors (at least 9 unique ones). Copy the code into a new block, then debug it. Write comments describing the errors you find and how you fixed them.

When you are finished, the code should run with no errors and print this text:

*The Beatles were 23 21 20 and 23 when they arrived in America.*

*Their names were: John Paul George and Ringo.*

*The youngest Beatle's name was George.*

*Their age range was (fill in here).*

## Copy and paste the code in this markdown cell into the code cell below.
## DO NOT change the code in this block! Copy it or rewrite it in the block below.

## Here are the Beatles' names
1st_beatle = 'John'
2nd_beatle = 'Paul
3rd_beatle = 'George"
4th_beatle = 'Ringo'

## Here are the Beatles' ages
age1 = 23
age2 = '21'
age3 = '20'
age4 = '22'

## This is the age range of the Beatles
age range = age1 - age3

## Here are a few print statements
print('The Beatles were', age1 age2 age3 'and' age4, 'when they arrived in America.')
print('Their names were:',1st_beatle+2nd_beatle+3rd_beatle+'and'+4th_beatle.)
print('The youngest Beatle's name was,' 3rd_beatle'.)
print('Their age range' was 'age_range'.)

In [28]:
...## Copy and paste the code in this markdown cell into the code cell below.
## DO NOT change the code in this block! Copy it or rewrite it in the block below.

## Here are the Beatles' names
beatle_1 = 'John'
beatle_2 = 'Paul'
beatle_3 = 'George'
beatle_4 = 'Ringo'
#renamed beatles variables so they don't start with numbers, standardized quotation marks 
## Here are the Beatles' ages
age1 = 23
age2 = 21
age3 = 20
age4 = 22
#removed quotations 
## This is the age range of the Beatles
age_range = age1
age_range -= age3
#fixed operation, corrected space in age range 
## Here are a few print statements
print('The Beatles were', age1, age2, age3, 'and', age4, 'when they arrived in America.')
print('Their names were', beatle_1+beatle_2+beatle_3+ 'and'+beatle_4'.')
print("'The youngest Beatle's name was," beatle_3'.')
print('Their age range was' age_range '.')
#added commas between ages in line 21, added quotations in line 22 and changed variable names, added quotes to line23

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1135591074.py, line 22)

# Question 2: Alphabet slicing activity (4 points)
The sentence "The quick brown fox jumps over the lazy dog" includes every letter in the english alphabet. In this exercise you will use string slicing to write **one** group member's name by indexing letters in the sentence. Write your code in the block below, and be sure to write comments describing each step of your code.

1) Select the letters in your chosen name (First and Last) by slicing this string using index values and assigning them to variables. 

*example: letter_e = abc_str[2]*

2) Create a single string out of the letters to write your full name, with a space between first and last. Assign it to a variable.

3) Capitalize the first letter of your first and last names using the upper function! Assign the capitalized name to a variable.

4) Write a print statement with the result:

My name is Lastname, Firstname Lastname.

In [ ]:
#don't change this original string
abc_str = 'the quick brown fox jumps over the lazy dog'
# index letters here
...
first_name = ...
last_name = ...
final_name = ...
print(...)

<!-- BEGIN QUESTION -->

# Reflection questions (1 point)
The purpose of the reflection is to inform us as instructors about students comfort level with course content. We use these answers to inform how we spend class time and design coursework in subsequent weeks. This question is graded for completeness, so please answer each question in the text box below. Be concise in your answers (max. 2 sentences). 

1) What do you feel you excelled at in this exercise? Why?

2) What did you struggle with most in the exercise? Why?

3) Is there any topic you feel we need to revisit or review in class? Why?

4) How do you feel about the content and structure of the course so far? Is there anything you wish the instructors would change?

_Type your answer here, replacing this text._

<!-- END QUESTION -->